<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="chat-box">
    <div class="message-area">
      <% for (const message of messages) { %>
      <div class="message-blob <%= message.username === user ? 'sent' : 'received' %>">
        <div class="message-blob-info">
          <h4 class="message-sender <%= message.username === user ? 'owner' : ''%>"> <%= message.username %> </h4>
        </div>
        <p class="message-txt"><%= message.text %></p>
        <p class="message-time">
        <%= message.added.toLocaleString('en-US', {
          month: 'short',
          day: 'numeric',
          hour: 'numeric',
          minute: '2-digit',
          hour12: true
          }) %>
        </p>
      </div>
      <% } %>
    </div>
    <div class="input-area">
      <p class="current-username"> Chatting as: <%= user %></p>
      <form class="input-message" action="/" method="post">
        <textarea name="newMessage" id="input-message-txt"></textarea>
        <button type="submit" class="submit-btn" disabled> send </button>
      </form>
    </div>
  </div>

 <script>
  const textarea = document.getElementById("input-message-txt");
  const sendBtn = document.querySelector(".submit-btn");
  const form = document.querySelector(".input-message");

  textarea.addEventListener("keydown", (e) => {
    if (e.key === "Enter" && !e.shiftKey) {
      e.preventDefault();

      if (textarea.value.trim() !== "") {
        form.submit();
      }
    }
  })

  textarea.addEventListener('input', () => {
    if (textarea.value.trim() === "") {
      sendBtn.disabled = true;
    } else {
      sendBtn.disabled = false;
    }
  });

  textarea.addEventListener('input', function() {
    // reset height on chat input message clearing
    this.style.height = 'auto';
    
    // set height to scrollHeight (the internal height of the text)
    this.style.height = (this.scrollHeight) + 'px';

    // check if max-height is hit, then show the scrollbar
    if (this.scrollHeight > this.clientHeight) {
      this.classList.add('show-scroll');
    } else {
      this.classList.remove('show-scroll');
    }
  });

  // auto-scroll logic
  const messageArea = document.querySelector('.message-area');
  
  // set the scroll position to the very bottom
  const scrollToBottom = () => {
    messageArea.scrollTop = messageArea.scrollHeight;
    textarea.focus();
  };

  // run it when the script loads
  scrollToBottom();

  window.addEventListener('load', scrollToBottom);
 </script>
</body>
</html>
